In [ ]:
3
my_list = [1, 2, 3, 2, 4, 1, 5]

unique_list = []

for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 4, 5]

In [ ]:
#Even and odd numbers sepration
numbers = [10, 15, 22, 33, 42, 55, 60, 73, 84, 91]

even_list = []
odd_list = []

for num in numbers:
    if num % 2 == 0:
        even_list.append(num)
    else:
        odd_list.append(num)

print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

Even numbers: [10, 22, 42, 60, 84]
Odd numbers: [15, 33, 55, 73, 91]

In [ ]:
#Script to print amounts greater than 500
amounts = [150, 600, 450, 800, 300, 1200, 500]

for amount in amounts:
    if amount > 500:
        print(amount)

600
800
1200

In [5]:
#Count customer ages less than 18
lst = [20, 21, 14, 16, 12, 25, 17, 30, 16, 45, 14, 19]

count = 0

for age in lst:
    if age < 18:
        count += 1

print("Number of customers below 18:", count)

Number of customers below 18: 6

In [ ]:
#Replacing negative numbers with 0
lst = [20, 14, 21, -10, -18]

for i in range(len(lst)):
    if lst[i] < 0:
        lst[i] = 0

print(lst)

[20, 14, 21, 0, 0]

In [10]:
# Program to convert all strings in a list to lowercase

words = ["Kanishka", "ESHA", "ChErRy", "oVI", "raJ"]

lowercase_words = []

for word in words:
    lowercase_words.append(word.lower())

print(lowercase_words)

['kanishka', 'esha', 'cherry', 'ovi', 'raj']

In [12]:
# Program to replace all elements in a list with a given value

lst = [10, 20, 30, 40, 50]
new_value = 0

for i in range(len(lst)):
    lst[i] = new_value

print(lst)

[0, 0, 0, 0, 0]

In [19]:
# Program to remove None values from the same list

lst = [10, None, 23, 45, None]

i = 0
while i < len(lst):
    if lst[i] == None:
        lst.pop(i)
    else:
        i = i+1

print(lst)

[10, 23, 45]

In [ ]:
# Program to convert integer to floa
val = 50

print(float(val))

50.0

In [22]:
# Q.1 Write a python progam to sum all items in a list

lst = [10, 20, 30, 40, 50]

for num in lst:
    total = sum(lst)
print("The sum of all items in the list is:", total)

The sum of all items in the list is: 150

In [25]:
#Q.2 Write a python function that takes two list and return true if they have at least one common member

def common_member(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

print(common_member(list1, list2))

True

In [24]:
#Q.3 Write the python program to reverse the string

name = "SANTA"

reversed_name = name[::-1]

print("Reversed string is:", reversed_name)

Reversed string is: ATNAS

In [ ]:
# Q.4 Open the file data.txt using file operations

with open("data.txt", "w") as file:
    file.write("Hello!\nThis is a sample file.\nWelcome to Jupyter notebook.")

print("data.txt has been created successfully!")i

with open("data.txt", "r") as file:
    content = file.read()

print("Contents of the file:")
print(content)

data.txt has been created successfully!
Contents of the file:
Hello!
This is a sample file.
Welcome to Jupyter notebook.

In [28]:
# Q.5 Iterating over tuple use for loop

my_tuple = (10, 20, 30, 40, 50)
for item in my_tuple:
    print(item)

10
20
30
40
50